
*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.primary{
    background-color: black;
    text-align: center;
    font-size: larger;
    color: beige;
    height: 10vh;
}
.form{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.info{
    border: 1px solid black;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-items: center;
    width: 50vw;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 2px 3px black;

}
.input-grp{
    padding: 2px;
display: flex;
    
}
.button{
    margin-top: 10px;
    color: beige;
    margin-left: 5px;
    background-color:black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    cursor: pointer;
}
.display{
    display: flex;
  
    justify-content: center;
}